<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Recruiter</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>
<section class="h-100 h-custom gradient-custom-2 bg-primary bg-gradient">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">
            {{ message }}
        </div>
        <br/>
        {% endfor %}
        {% endif %}
        <form class="card card-registration card-registration-2 bg-light-subtle" style="border-radius: 15px;" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="p-5">
                  <h3 class="fw-normal mb-5">General Information</h3>

                  <div class="mb-4 pb-2"><div class="form-outline">
                    <input type="password" id="password1" class="form-control" name="password1" required/>
                    <label class="form-label" for="password1">Password</label>
                  </div></div>

                  <div class="mb-4 pb-2"><div class="form-outline">
                    <input type="password" id="password2" class="form-control" name="password2" required/>
                    <label class="form-label" for="password2">Retype Password</label>
                  </div></div>

                    <div class="mb-4 pb-2">
                    <select class="select" name="title">
                      <option>Title</option>
                      <option value="1">Mr</option>
                      <option value="2">Mrs</option>
                      <option value="3">Ms</option>
                    </select>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2"><div class="form-outline">
                      <input type="text" id="first_name" class="form-control" name="first_name" required/>
                      <label class="form-label" for="first_name">First name</label>
                    </div></div>

                    <div class="col-md-6 mb-4 pb-2"><div class="form-outline">
                      <input type="text" id="last_name" class="form-control" name="last_name" required/>
                      <label class="form-label" for="last_name">Last name</label>
                    </div></div>
                  </div>

                  <div class="mb-4 pb-2">
                    <select class="select" name="type" required>
                      <option>Which best describes you?</option>
                      <option value="1">I work for the company</option>
                      <option value="2">I'm a recruiter</option>
                    </select>
                  </div>

                  <div class="mb-4 pb-2"><div class="form-outline">
                    <input type="text" id="company" class="form-control" name="company" required/>
                    <label class="form-label" for="company">Company Name</label>
                  </div></div>

                  <div class="mb-4 pb-2"><div class="form-outline">
                    <input type="text" id="industry" class="form-control" name="industry" required/>
                    <label class="form-label" for="industry">Industry</label>
                  </div></div>

                  <div class="mb-4 pb-2"><div class="form-outline">
                    <input type="text" id="role" class="form-control" name="role" required/>
                    <label class="form-label" for="role">Role</label>
                  </div></div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <h3 class="fw-normal mb-5">Contact Details</h3>

                    <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="url" id="website" class="form-control" name="website" required/>
                      <label class="form-label" for="website">Company Website</label>
                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="text" id="address" class="form-control" name="address" required/>
                      <label class="form-label" for="address">Street Address</label>
                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="text" id="city" class="form-control" name="city" required/>
                      <label class="form-label" for="city">City</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5 mb-4 pb-2">

                      <div class="form-outline form-white">
                        <input type="text" id="zipcode" class="form-control" name="zipcode" required/>
                        <label class="form-label" for="zipcode">Zip Code</label>
                      </div>

                    </div>
                    <div class="col-md-7 mb-4 pb-2">

                      <div class="form-outline form-white">
                        <input type="text" id="state" class="form-control" name="state" required/>
                        <label class="form-label" for="state">State</label>
                      </div>

                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="text" id="country" class="form-control" name="country" required/>
                      <label class="form-label" for="country">Country</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5 mb-4 pb-2"><div class="form-outline form-white">
                      <input type="text" id="area_code" class="form-control" name="area_code" required/>
                      <label class="form-label" for="area_code">Area Code</label>
                    </div></div>

                    <div class="col-md-7 mb-4 pb-2"><div class="form-outline form-white">
                      <input type="number" id="phone" class="form-control" name="phone" required/>
                      <label class="form-label" for="phone">Phone Number</label>
                    </div></div>
                  </div>

                  <div class="mb-4">
                    <div class="form-outline form-white">
                      <input type="email" id="email" class="form-control" name="email" required/>
                      <label class="form-label" for="email">Your Email</label>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-start mb-4 pb-3">
                    <input class="form-check-input me-3" type="checkbox" value="" id="form2Example3" required/>
                    <label class="form-check-label" for="form2Example3">
                      I do accept the <a href="#!"><u>Terms and Conditions</u></a> of your
                      site.
                    </label>
                  </div>

                  <button type="submit" class="btn btn btn-success btn-lg" data-mdb-ripple-color="dark">
                      Register
                  </button>

                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
</script>
</body>
</html>