<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Company Details</title>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" alt="" width="72" height="72"
         src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/brand/bootstrap-solid.svg">
    <h2>Edit Your Company Details</h2>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <a href="{% url 'recruiter-dash' %}" class="btn btn-danger">Go Back</a>
      <br/> <br/>
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your Profile</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Account Name</h6>
            <small class="text-muted">{{ user_form.first_name.value }} {{ user_form.last_name.value }}</small>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Account Email</h6>
            <small class="text-muted">{{ user_form.email.value }}</small>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Company</h6>
            <small class="text-muted">{{ company_form.company.value }}</small>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Role</h6>
            <small class="text-muted">{{ company_form.role.value }}</small>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Keep these details up to date.</h4>
      <form class="needs-validation" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="mb-3">
          <label>Recruiter Type</label>
          {{ company_form.recruiter_type }}
        </div>

        <div class="mb-3">
          <label>Industry</label>
          {{ company_form.industry }}
        </div>

        <div class="mb-3">
          <label>Role</label>
          {{ company_form.role }}
        </div>

        <div class="mb-3">
          <label>Phone Number</label>
          {{ company_form.phone }}
        </div>

        <div class="mb-3">
          <label>Website</label>
          {{ company_form.website }}
        </div>

        <div class="mb-3">
          <label>Street Address</label>
          {{ company_form.street }}
        </div>

        <div class="mb-3">
          <label>Zip</label>
          {{ company_form.zipcode }}
        </div>

        <div class="row">
          <div class="col-md-3 mb-3">
            <label>City</label>
            {{ company_form.city }}
          </div>
          <div class="col-md-3 mb-3">
            <label>State</label>
            {{ company_form.state }}
          </div>
          <div class="col-md-3 mb-3">
            <label>Country</label>
            {{ company_form.country }}
          </div>
        </div>
        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="same-address" required>
          <label class="custom-control-label" for="same-address">
            I confirm that the information I have entered above is correct.
          </label>
        </div>
        <hr class="mb-4">
        <button class="btn btn-success btn-lg btn-block" type="submit">CONFIRM</button>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2024 BuzzHire</p>
  </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
</script>
</body>
</html>